#include <windows.h>

101 ICON "C:\\Users\\abstudio\\Documents\\apkIconShower\\resources\\icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "ApkIconShower"
            VALUE "FileDescription", "APK 图标读取器"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ApkIconShower"
            VALUE "OriginalFilename", "ApkIconShower.exe"
            VALUE "ProductName", "APK 图标读取器"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
